{{ define "main" }}

{{ partial "page-title-single.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container item-details">
    <div class="row">
      
      <div class="col-md-8">
        <div class="project-details">
          <p>{{ .Params.artist | markdownify }}</p>
          <p>{{ .Date | time.Format ":date_long" }}</p>
          <p>{{ .Params.place | markdownify }}</p>


          {{ with .Params.participants }}
          <p>{{ . | markdownify}}</p>
          {{ end }}
          {{ with .Params.audio_rec }}
          <p> {{ i18n "recorded_by"  }} {{ . | markdownify}}</p>
          {{ end }}
          {{ with .Params.audio_ed }}
          <p> {{ i18n "edited_by" }} {{ . | markdownify}}</p>
          {{ end }}
          {{ with .Params.description }}
          <p>{{ . | markdownify}}</p>
          {{ end }}
        </div>
      </div>
    </div>
    {{ $recordingpath := trim .Page.RelPermalink "es/" }}
    {{ $video := print $recordingpath ".mp4"}}
    {{ $poster := print $recordingpath ".png" }}
    <div class="row">
      <div class="col-md-8">
          <video controls poster="{{ $poster | relURL }}"> 
            <source src="{{ $video | relURL }}" type="video/mp4"> 
          </video> 
      </div>
    </div>
  </div>
</section>

{{ end }}


  
