{{ define "main" }}

{{ partial "page-title-single.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container item-details">
    <div class="row">
      
      <div class="col-md-8">
        <div class="project-details">
          <p>{{ .Params.description | markdownify }}</p>
          <p>{{ .Params.author }}</p>
          <p>{{ .Date | time.Format ":date_long" }}</p>
          <p>{{ .Params.place }}</p>
          {{ with .Params.conference }}
          <p>{{ . | markdownify}}</p>
          {{ end }}
          {{ with .Params.journal }}
          <p>{{ . | markdownify}}</p>
          {{ end }}
          {{ with .Params.book }}
          <p>{{ . | markdownify}}</p>
          {{ end }}
          {{ with .Params.publisher }}
          <p>{{ . | markdownify}}</p>
          {{ end }}
        </div>
      </div>
      {{ $publicationpath := trim .Page.RelPermalink "es/" }}
      {{ $publicationpng := print $publicationpath ".png" }}
      {{ $publicationjpg := print $publicationpath ".jpg" }}
      <div class="col-md-8">
        {{ with .File }}
          {{ if fileExists $publicationpng }}
              <img src="{{ $publicationpng | relURL }}" alt='{{ trim .BaseFileName ".es" }}'>
          {{ else if fileExists $publicationjpg }}
              <img src="{{ $publicationjpg | relURL}}" alt='{{ trim .BaseFileName ".es" }}'>
          {{ end }}
        {{ end }}
      </div>
    </div>
    {{ with .Params.abstract }}
    <div class="row">
      <div class="col-md-8">
        <div class="project-content mt-50">
          <h2>Abstract</h2>
          <p>{{ . | markdownify }}</p>
        </div>
      </div>
    </div>
    </br>
    {{ end }}

    <div class="row">
      {{ with .File }}
      <div class="col-md-8">
        {{ $publicationbib := print $publicationpath ".bib" }}
          <h5>BIB</h5><a href="{{ $publicationbib | relURL  }}">{{ $publicationbib }}</a>
      </div>
      <div class="col-md-8">
        {{ $publicationpdf := print $publicationpath ".pdf" }}
          <h5>PDF</h5><a href="{{ $publicationpdf | relURL  }}">{{ $publicationpdf }}</a>
      </div>
      {{ end }}
    </div>

    

  </div>
</section>

{{ end }}
